<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>kata Console</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css  ">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.m  in.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="panel-heading">
        <div class="page-header">
          <nav class="navbar">
            <div class="navbar-inner">
              <a class="brand" href="/"><h1>{{with .Host}}{{.}}{{end}}<small> All Data</small></h1></a>
              <ul class="nav">
                <li><a href="/config">Configuration</a></li>
                <li><a href="/">Main</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <div class="panel panel-primary">
      {{$hostname := .Host}}
      {{range $measurement, $data := .Queries}}
      <table class="table table-bordered">
        <tr>
          <th><h3 class="text-capitalize"><a href="/host/{{$hostname}}/{{$measurement}}">{{$measurement}}</a><small> Data</small></h3></th>
        </tr>
        <td>

          {{range $key, $values := $data}}
          <div class="btn-group" role="group" >
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{$key}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                {{range $time, $value := $values}}
                <li><a href="/host/{{$hostname}}/{{$measurement}}/{{$time}}">{{$time}}</a></li>
                {{end}}
              </ul>
            </div>
          </div>
          {{end}}
        </td>
      </table>
      {{end}}
    </div>
  </body>
</html>
