<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  
  <head>
    <title>Kata Console</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css  ">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.m  in.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body> 
    <div class="container">
      <div class="panel-heading">
        <div class="page-header">
           <nav class="navbar">
             <div class="navbar-inner">
               <a class="brand" href="/"><h1> Kata Console <small> Configuration</small></h1></a>
               <ul class="nav">
                 <li><a href="/">Back to Main</a></li>
               </ul>
            </div>
          </nav>
        </div>
      </div> 
      <div class="panel-body">
      <table class="table table-bordered">
        <tr>
          <th>Log Level</th><td>{{.LogLevel}}</td>
        </tr>
        <tr>
          <th>Kata Home</th><td>{{.KataHome}}</td>
        </tr>
        <tr>
          <th>Grafana URL</th><td>{{.GrafanaUrl}}</td>
        </tr>
        <tr>
          <th>Grafana API Key</th><td>{{.GrafanaAuth}}</td>
        </tr>
        <tr>
          <th>Influx URL</th><td>{{.InfluxUrl}}</td>
        </tr>
        <tr>
          <th>Influx Port</th><td>{{.InfluxPort}}</td>
        </tr>
        <tr>
          <th>Influx User</th><td>{{.InfluxUser}}</td>
        </tr>
        <tr>
          <th>Influx Password</th><td>{{.InfluxPassword}}</td>
        </tr>
        <tr>
          <th>Influx Basic Auth Enabled</th><td>{{.InfluxBasicAuthEnabled}}</td>
        </tr>
        <tr>
          <th>Influx Basic Auth User</th><td>{{.InfluxBasicAuthUser}}</td>
        </tr>
        <tr>
          <th>Influx Basic Auth Password</th><td>{{.InfluxBasicAuthPassword}}</td>
        </tr>
      </table>
    </div>

  </body>
</html>
