<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>Kata Console</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css  ">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.m  in.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="panel-heading">
        <div class="page-header">
          <nav class="navbar navbar-inverse navbar-fixed-top">
            <h1 class="navbar-text navbar-center">{{with .Host}}{{.}}{{end}}<small> Configuration</sma  ll></h1>
        </nav>
      </div>
    
      <div class="panel-body">
      {{with .Config}}
      {{range $key, $value := .}}
      <table class="table table-bordered">
        <td>
        <h3 class="text-capitalize">{{$key}} Data</h3>
        {{range $k, $v := $value}}
        <p>
          <b>{{$k}}:</b> {{$v}}
        </p>
        {{end}}
        </td>
      </table>
      {{end}}
      {{end}}
    </div>
  </body>
</html>
