<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <script type="text/JavaScript">
      function reloadAllIframes() {
          var iframes = document.querySelectorAll('iframe');
          for (var i = 0; i < iframes.length; i++) {
          iframes[i].src = iframes[i].src;
          }
      }
          
      setInterval(function() {
        reloadAllIframes();
      }, 30000);
    </script>
    <title>Kata Console</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css  ">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.m  in.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="panel-heading">
        <div class="page-header">
          <nav class="navbar">
            <div class="navbar-inner">
              <a class="brand" href="/"><h1> {{with .Host}}{{.}}{{end}}<small> Latest Data : From 15 Minutes Ago</small></h1></a>
              <ul class="nav">
                <li><a href="/config">Configuration</a></li>
                <li><a href="/">Main</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading"><h4 class="text-capitalize">{{.Host}} Load</h4><small> Last 15 Minutes </small></div>
      </div>

      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span1">
          </div>
          <div class="span10">
          {{with .GrafanaUris}}
          {{range $iframes := .}}
          {{.}}
          
          {{end}}
          {{end}}
          </div>
        </div>  
      </div>
    </div>  
  </body>
</html>
