<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>Kata Console</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css  ">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.m  in.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="panel-heading">
        <div class="page-header">
          <nav class="navbar">
            <div class="navbar-inner">
              <a class="brand" href="/"><h1> {{with .Host}}{{.}}{{end}}<small> Dashboard</small></h1></a>
              <ul class="nav">
                <li><a href="/config">Configuration</a></li>
                <li><a href="/">Main</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading"><h4 class="text-capitalize">{{.Host}} :: Available Dashboards</h4></div>
      </div>
      <div class="container-fluid">
        <div class="row-fluid">
          <h5><a href="/host/{{.Host}}/dashboard/memory">Memory Dashboard</a></h5>
        </div>  
      </div>
    </div>  
  </body>
</html>
