<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>Kata Console</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css  ">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.m  in.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="panel-heading">
        <div class="page-header">
          <nav class="navbar navbar-fixed-top">
            <h1 class="navbar-text navbar-center">{{with .Host}}{{.}}{{end}}<small> Latest Data</small></h1>
              <div class="navbar-header">
              <button type="button" class="btn btn-default navbar-btn"><a href="/">Main</a></button>
            </div>
          </nav>
        </div>
      </div>
    
      <div class="panel panel-primary">
        <div class="panel-heading"><h4 class="text-capitalize">Last Hour</h4></div>
      </div>
      <iframe src="http://localhost:3000/dashboard-solo/db/bohr-2-local?panelId=2&fullscreen&from=now-1h&to=now" width="500" height="250" frameborder="0"></iframe>
      <iframe src="http://localhost:3000/dashboard-solo/db/bohr-2-local?panelId=1&fullscreen&from=now-1h&to=now" width="500" height="250" frameborder="0"></iframe>
   </body>
</html>
