<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>Kata Console</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css  ">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.m  in.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="panel-heading">
        <div class="page-header">
          <nav class="navbar">
            <div class="navbar-inner">
              <a class="brand" href="/"><h1> {{with .Host}}{{.}}{{end}}<small> Latest Data : From 15 Minutes Ago</small></h1></a>
              <ul class="nav">
                <li><a href="/config">Configuration</a></li>
                <li><a href="/">Main</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading"><h4 class="text-capitalize">Last 15 Minutes</h4></div>
      </div>

      {{with .DashedHost}}
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span1">
          </div>
          <div class="span10">
            <iframe src="http://localhost:3000/dashboard-solo/db/{{.}}?panelId=10&fullscreen&from=now-15m&to=now" width="500" height="250" frameborder="0"></iframe>

            <iframe src="http://localhost:3000/dashboard-solo/db/{{.}}?panelId=9&fullscreen&from=now-15m&to=now" width="500" height="250" frameborder="0"></iframe>

            <iframe src="http://localhost:3000/dashboard-solo/db/{{.}}?panelId=1&fullscreen&from=now-15m&to=now" width="500" height="250" frameborder="0"></iframe>

            <iframe src="http://localhost:3000/dashboard-solo/db/{{.}}?panelId=2&fullscreen&from=now-15m&to=now" width="500" height="250" frameborder="0"></iframe>

            <iframe src="http://localhost:3000/dashboard-solo/db/{{.}}?panelId=3&fullscreen&from=now-15m&to=now" width="500" height="250" frameborder="0"></iframe>

            <iframe src="http://localhost:3000/dashboard-solo/db/{{.}}?panelId=4&fullscreen&from=now-15m&to=now" width="500" height="250" frameborder="0"></iframe>

            <iframe src="http://localhost:3000/dashboard-solo/db/{{.}}?panelId=5&fullscreen&from=now-15m&to=now" width="500" height="250" frameborder="0"></iframe>

            <iframe src="http://localhost:3000/dashboard-solo/db/{{.}}?panelId=6&fullscreen&from=now-15m&to=now" width="500" height="250" frameborder="0"></iframe>
            
            <iframe src="http://localhost:3000/dashboard-solo/db/{{.}}?panelId=7&fullscreen&from=now-15m&to=now" width="500" height="250" frameborder="0"></iframe>

            <iframe src="http://localhost:3000/dashboard-solo/db/{{.}}?panelId=8&fullscreen&from=now-15m&to=now" width="500" height="250" frameborder="0"></iframe>

          </div>
        </div>  
      </div>
      {{end}}
    </div>  
  </body>
</html>
