<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  
  <head>
    <title>Catacorn Console</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css  ">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.m  in.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body> 
    <div class="container">
      <div class="panel-heading">
        <div class="page-header">
          <nav class="navbar navbar-header navbar-fixed-top">
            <h1 class="navbar-text navbar-center">Kestrel Console<small> A REST Monitoring Platform in Go</small><h1>
          <a class="pull-right" href="#">
            <img style="max-width:100px; margin-top: -20px;" src="http://www.yallatours.com/blog/eye-horus/eye-horus">
          </a>
        </nav>
      </div>
      <div class="panel-body">
      {{with .AvailableHosts}}
      {{range $host, $hits := .}}
      <table class="table table-bordered">
        <tr>
          <th><h3 class="text-capitalize">{{$host}}<small> Cata Agent</small></h3></th>
        </tr>
        <td>
          <ul class="nav nav-pills" role="tablist">
            <li role="presentation"><a href="host/{{$host}}">Explore Data <span class="badge">{{$hits}}</span></a></li>
            <li role="presentation"><a href="host/{{$host}}/latest">Last Hour</a></li>
            <li role="presentation"><a href="host/{{$host}}/alarms">Set Alarms</a></li>
            <li role="presentation" class="label label-danger"><a href="host/{{$host}}/alerts">Alerts <span class="badge">number</span></a></li>
          </ul>
        </td>
      </table>
      {{end}}
      {{end}}
    </div>

  </body>
</html>
